<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="https://use.typekit.net/aep8mdo.css">
    <style>
      /* Email styles need to be inline */

      body {
        width: 100vw;
        height: 100vh;
        background: #E0C1C3;
      }

      h1, h2, h3, h4 {
        font-family:'futura-pt', sans-serif;
        color: #222323;
      }

      p {
        font-family:'futura-pt', sans-serif;
        color: #222323;
      }

      a {
        background-color: #222323;
        color: #ffffff !important;
        padding: 4px;
        text-decoration: none;
        border: 1px solid #222323;
        transition: 0.4s;
      }

      a:hover {
        background-color: white;
        color: #222323;
      }

      .recu-container h3 span{
        border-bottom: 3px solid #222323;
        padding: 4px 0;
      }

      .recu-container p{
        margin: 0 0 4px;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>



